@{
    Layout = "../_Layout";
    ViewData["Title"] = "Головна";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="text-center">
    <h1 class="display-4">Вибір документів</h1>
    <p>Завантажте документи щоб отримати детальний звіт</p>
</div>
<script>
    window.onload = () => {
        if (window.location.hash == "#alert") {
            alert("Оберіть документи для обробки");
        }
    }
</script>


